/* Reset style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-50 {
  width: 50% !important;
  height: 50px !important;
}

.w-100 {
  width: 100% !important;
  height: 50px !important;
}

.h-ajust {
  height: 70vh !important;
}

.h-ajust-2 {
  height: 55vh !important;
  margin-top: 80px !important;
}
.logo {
  height: 200px;
  /* margin-bottom: 20px; */
}

.is-invalid {
  border: 1px solid #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

select.is-invalid {
  border: 1px solid #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* END Reset style */

/* Default style */

body {
  height: 100%;
  background: linear-gradient(#b0cdff, #5C8EF1);
}

/*

Azul Celeste #5C8EF1 – cor principal.

Dourado Claro #FFD966 – detalhes que remetem à luz e à santidade.

Branco #FFFFFF – pureza e clareza.

Cinza Suave #F2F2F2 – fundos neutros.

*/

img {
  z-index: -10 !important;
}
/* END Default style */

/* Reset Password style */

.resetPassword {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.resetPassword::before {
  display: block;
  content: "";
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.resetPassword-div {
  overflow: hidden;
  width: 80%;
  height: 80vh;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 3px 3px 30px 0px hsla(0, 0%, 0%, 0.362);
  padding: 50px;
  color: #606060;
}
/* END Reset Password style */

/* Login style */

.login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.login::before {
  display: block;
  content: "";
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-div {
  overflow: hidden;
  width: 75%;
  height: 80vh;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 3px 3px 30px 0px hsla(0, 0%, 0%, 0.362);
  padding: 50px;
  color: #606060;
}

.center {
  align-items: center;
  align-content: center;
}

.txt-theme {
  color: #5C8EF1;
}
.btn-theme {
  color: #ffffff;
  background-color: #5C8EF1;
  border-color: #5C8EF1;
}
.btn-theme:hover {
  color: #ffffff;
  font-weight: 500;
  box-shadow: 1px 1px 10px 0px hsla(0, 0%, 0%, 0.362);
  transform: scale(1.01);
}

.field-icon {
  float: right;
  margin-left: -50px;
  margin-right: 10px;
  margin-top: -34px;
  position: relative;
  z-index: 2;
}

/* END Login style */

/* Loader style */

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #ccc;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #5C8EF1;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}

.loader::before {
  background-color: #5C8EF1;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* END Loader style */
